html {
  scroll-behavior: smooth;
}

.card {
  background-color: black;
}

.card-container {
  background-color: black;
}


.card-img {
  padding: 2em;
  max-width: 10cm;
  color: grey;
}

.images-container {
  color: grey;
  background-color: black;
}

.card-header {
  color: black;
  background-color: grey;
  padding: 1cm;
}

.text-center {
  color: rgb(189, 186, 186);
  background-color: rgb(17, 17, 17);
  border-radius: 8px;
  padding: .3cm;
}

.title-card { 
  background-color: rgb(25, 24, 24);
  color: (189, 186, 186);
  border-radius: 8px;
  padding: .3cm;
}

.card-body {
  color: grey;
  background-color: rgb(17, 17, 17);
  border-radius: 8x
}