html {
  scroll-behavior: smooth;
}

.card {
  background-color: rgb(17, 17, 17);
}

.card-container {
  background-color: rgb(17, 17, 17);
}


.card-img {
  padding: 2em;
  max-width: 12cm;
  max-height: 7cm;
  color: grey;
}

.images-container {
  color: grey;
  background-color: rgb(17, 17, 17);
}

.card-header {
  color: black;
  background-color: grey;
}

.text-center {
  color: grey;
  background-color: rgb(17, 17, 17);
  border-radius: 8px;
}

.title-card { 
  background-color: grey;
  color: rgb(17, 17, 17);
  border-radius: 8px;
}

.card-body {
  color: white;
  background-color: rgb(17, 17, 17);
  border-radius: 8x
}