html {
  scroll-behavior: smooth;
}

.card {
  background-color: black;
  color: rgb(189, 186, 186);
  max-width: 66rem;
  margin:auto;
  padding: .2rem;
}

.card-container {
  background-color: black;
}


.card-img {
  padding: 2em;
  max-width: 18rem;
  color: grey;
}

.images-container {
  color: grey;
  background-color: black;
}

.card-header {
  color: black;
  background-color: rgb(0, 0, 0);
  padding-top: 1cm;
}

.sep {
  padding-top: .2cm;
  padding-left: 4rem;
  padding-right: 4rem;
}


.text-center1 {
  color: rgb(213, 213, 213);
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  font-size: 60px;
}

.title-card { 
  background-color: rgb(3, 3, 3);
  color: rgb(213, 213, 213);
  padding-top: .3cm;
  padding-bottom: .3cm;
  font-size: 40px;
}

.card-body {
  background-color: rgb(17, 17, 17);
  color: rgb(189, 186, 186);
  padding: .3cm;
}

.card-text {
  padding: .3cm;
  color: rgb(189, 186, 186);
}
